# compile folders
/Debug/
/Release/

# VTK files
*.vtk
*.vtu
*.vtp
*.vtr
*.vts
*.vti

# Output reports
*.rep

# Backup files
*.bak

# Packages
*.7z
*.gz
*.zip
*.tar

# Logs
*.log

# Profiler files 
/oprofile_data/
perf.data
gmon.out

# Data files
*.dat

# Images and Movies
*.png
*.gif
*.bmp
*.avi
*.mov
*.mp4
*.wmv

# Gnuplot configuration file
*.cfg

# Vim backup files
*.swp

# But not these files...
!2D_drop_rising.png
!2D_shanchen_drop.png
!2D_von_karman_vortex.png
!3D_flow_over_sphere.png
!3D_porous.png
!3D_shanchen_drop.png
!3D_T_junction.png
!VTKFortran-1.1.0.zip
!3D_porous_250x250x4.dat


